{% extends 'template_app/base.html' %}
{% load static %}

{% block content %}
<section class="container py-5">
    <div class="row align-items-center">
        <div class="col-md-6 mb-4 mb-md-0">
            <h2 class="fw-bold mb-4 d-flex align-items-center">
              <img src="{% static 'images/procedures/calender.png' %}" 
                alt="Calendar" 
                style="width: 28px; height: 28px; margin-right: 10px;">
              Appointments
            </h2>

            {% if appointments %}
                <ul class="list-group">
                    {% for appointment in appointments %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ appointment.appointment_date }}
                            <span class="badge bg-primary text-capitalize">{{ appointment.status }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-muted">No upcoming appointments.</p>
            {% endif %}
        </div>

        <div class="col-md-6 text-center">
            <img src="{% static 'images/procedures/body-toning.png' %}" alt="Body Toning Treatment" class="img-fluid rounded shadow">
        </div>
    </div>
</section>
{% endblock %}
