@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    /** Fonts */
    --title: 'Didot', serif;
    --main-font: 'Source Sans 3', serif;

    /** Colors */
    --primary: #6a3fbf;;
    --background: #6a3fbf;
    --black: #000;
    --dark-blue: #133f87;
    --writing: #ffffff;
    --button: #ffc107;

    /** Borders Box Shades */
    --smal-box-shadow: 2px -1px 5px 0 #495057;
    --border: 2px solid #ee7630b6;
}

/* Company Logo */
.logo {
    height: 120px;
    width: auto;
    object-fit: contain;
    padding: 0 12px;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--writing);
}

.hero-section {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 80%, #6a3fbf 100%), url('/assets/images/procedures/landing-page.png');
    background-size: cover;
    background-position: center;
}

footer {
    flex-shrink: 0;
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: none;
    color: var(--writing);
}

footer a {
    color: var(--writing); 
}

.copyright {
    padding: 10px 0;
    font-size: 14px;
    color: var(--writing);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
    margin-bottom: 1rem;
}

/* Header */
.navbar {
    background-color: var(--background);
    box-shadow: 1 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}

a.nav-link {
    color: var(--primary-purple);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease;
}

a.nav-link:hover,
a.nav-link:focus {
    color: #452d83;
    font-weight: 700;
    text-decoration: underline;
}

a.nav-link.active {
    font-weight: 700;
    color: #452d83;
}

@media (max-width: 600px) {
    .hero-section {
        flex-direction: column;
        justify-content: center;
        padding: 2rem 1rem;
        background-position: center top;
        background-size: cover;
    }

    .hero-text {
        max-width: 100%;
        text-align: center;
        padding: 1.5rem;
        background-color: rgba(255, 255, 255, 0.9);
        margin-top: 1rem;
    }

    .hero-text h1 {
        font-size: 1.75rem;
        line-height: 1.4;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .hero-text .btn {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
    }
}
